* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: auto;
  background-color: #ebd6fb;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #212121;
}

header {
  text-align: center;
}
.navbar {
  background-color: #ad9eb9;
  min-height: 80px;
  max-height: 120px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img {
  height: 50px;
  width: 200px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nav-links li {
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
}
.nav-links a {
  text-decoration: none;
  padding: 10px 15px;
  color: #212121;
  transition: color 0.3s;
}
.nav-links a:hover {
  background-color: #d5bae7;
  padding: 10px 15px;
  color: #4b0082;
  text-decoration: underline;
}

header h1 {
  font-size: 4rem;
  text-decoration: underline;
  margin: 10px 0;
  animation: 1s;
}

header p {
  text-align: left;
  font-size: 18px;
  margin: 10px 40px;
}
ol {
  font-size: 18px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

main {
  padding: 20px 40px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.recipe-card {
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 10px;
  text-align: left;
  box-shadow: 10px 10px 5px #c7b5d4;
}

.recipe-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 6px;
  margin-bottom: 10px;
}
.recipe-card img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.recipe-card a {
  text-decoration: none;
  font-size: 20px;
  color: #212121;
}

.recipe-card a:hover {
  color: #7c4dff;
}
#cookbook {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
  padding: 20px;
}
.about-cookbook {
  flex: 1;
  min-width: 250px;
}
.about-cookbook h2{
 font-size: 2rem;
 margin-bottom: 20px;
}
.about-cookbook p{
 margin-bottom: 20px;
}
.about-cookbook button{
 width: 150px;
 height: auto;
 background-color: #01a701;
 border: none;
 padding: 10px;
 border-radius: 10px;
}
.about-cookbook a{
color: white;
text-decoration: none;
font-weight:bolder;
}
.about-cookbook button:hover{
 background-color: #017401;
}


.cookbook-image {
  flex-shrink:0;
  width: 300px;
  height: auto;
}

.cookbook-image img {
 width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
}
#about h2{
 font-size: 2rem;
 margin-bottom: 20px;
}
#about p{
 margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

iframe {
  border: none;
  width: 100%;
  max-width: 600px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 5px #c7b5d4;
  transition: transform 0.5s ease;
}
iframe:hover {
  transform: scale(1.03);
}
.footnote-section {
  background-color: #ad9eb9;
  
}

.footnote {
  font-size: 14px;
  margin: 20px auto;
}
@media (max-width: 768px) {
  header p {
    margin: 10px 20px;
  }

  .recipe-container {
    flex-direction: column;
    align-items: center;
  }
  #cookbook {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
